content/plugins/*
!content/plugins/.gitkeep
!content/plugins/advanced-custom-fields-pro
content/themes/nicolesippola/lib/vendor
content/uploads/*
!content/uploads/.gitkeep
wp-config.php
.htaccess
core/*
!core/.gitkeep
html
content/debug.log